header {
    background-color: #FFFFFF;
    color: #D5D4DA;
    background: url("images/1459932245991.jpg");
    background-position: center 0;
    height: 762px;
    background-repeat: no-repeat;
}
.nav>div{padding-left: 20px;padding-right: 20px;}

main{text-align: center; margin-top:20px;}
main .row>div{
    width:31%;
    border: 1px solid #eee;
    padding: 10px;
}
main .row>div>img{float: left;}
main .container{width: 1424px;}

footer{border-top: 1px solid #eeeeee;height: 400px;}
