
@font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1460966469'); /* IE9*/
    src: url('iconfont.eot?t=1460966469#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=1460966469') format('woff'), /* chrome, firefox */
    url('iconfont.ttf?t=1460966469') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1460966469#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-gift:before { content: "\e600"; }
.icon-gift1:before { content: "\e601"; }
.icon-iconfontdown:before { content: "\e604"; }
.icon-scan:before { content: "\e609"; }
.icon-iconfontup:before { content: "\e603"; }
.icon-cart:before { content: "\e60b"; }
.icon-fold:before { content: "\e60c"; }
.icon-order:before { content: "\e60e"; }
.icon-home:before { content: "\e60d"; }
.icon-collect:before { content: "\e617"; }
.icon-checkmark:before { content: "\e615"; }
.icon-back:before { content: "\e614"; }
.icon-address:before { content: "\e613"; }
.icon-iconfontaddcart:before { content: "\e612"; }
.icon-unfold:before { content: "\e611"; }
.icon-search:before { content: "\e610"; }
.icon-history:before { content: "\e61c"; }
.icon-gift2:before { content: "\e61b"; }
.icon-edit:before { content: "\e619"; }
.icon-droparrow:before { content: "\e618"; }
.icon-personalcenter:before { content: "\e60f"; }
.icon-close:before { content: "\e616"; }
.icon-right:before { content: "\e622"; }
.icon-refresh:before { content: "\e620"; }
.icon-remind:before { content: "\e621"; }
.icon-news:before { content: "\e61e"; }
.icon-setting:before { content: "\e61d"; }
.icon-share:before { content: "\e623"; }
.icon-top:before { content: "\e624"; }
.icon-uparrow:before { content: "\e626"; }
.icon-collectselected:before { content: "\e627"; }
.icon-new:before { content: "\e628"; }
.icon-red:before { content: "\e629"; }
.icon-fire:before { content: "\e62b"; }
.icon-notice:before { content: "\e62c"; }
.icon-juhuasuan:before { content: "\e62f"; }
.icon-unfoldfill:before { content: "\e62e"; }
.icon-addressfill:before { content: "\e62d"; }
