body{ background-color:#eee;}
header{border-bottom:0px; position: fixed; z-index:1000;}
nav li{padding:0px 19px;    font-size: small;}
main{padding-top: 50px;}
footer{text-align: center;}



.page,.doc {
  width: 100%;
  /** background-image:url(8245632244_f26259c9f9_o-copy1.jpg);**/
  height:620px;
  background-position: center center;
  background-size: cover;
  background-color:cornflowerblue;
  color:#fff;
}
.doc{background-image:url(8245632244_f26259c9f9_o-copy1.jpg);}

.ami,.ami-logo{
    font-size: 36px;
    animation: mymove 5s infinite;
    -moz-animation: mymove 5s infinite;
    -webkit-animation: mymove 5s infinite;
    -o-animation: mymove 5s infinite;
    position: absolute;
	left:300px;
	top:100px;
	z-index:100; 
	text-align:center;
	font-family: kaiti;
	animation-iteration-count:1;
}
.ami-logo{
	left:300px;
	top:200px;
	 animation: mymove 1s infinite;
    -moz-animation: mymove 1s infinite;
    -webkit-animation: mymove 1s infinite;
    -o-animation: mymove 1s infinite;
	animation-iteration-count:1;
	font-size:106px;
	}
.ami-download {
    font-size: 22px;
    top: 400px;
    position: absolute;
    left: 550px;
    padding: 10px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 24px;
    width: 193px;
}
.ami-download:hover{ background-color:#FFF; color:cornflowerblue;}
.ami-contact{ position:absolute; bottom:10px; left:40%;}
@keyframes mymove
{
0%   {left:100px;}

100% {left:left:50%;}
}

@-moz-keyframes mymove /* Firefox */
{
0%   {top:0px;}
25%  {top:200px;}
50%  {top:100px;}
75%  {top:200px;}
100% {top:0px;}
}

@-webkit-keyframes mymove /* Safari 和 Chrome */
{
0%   {top:0px;}
25%  {top:200px;}
50%  {top:100px;}
75%  {top:200px;}
100% {top:0px;}
}

@-o-keyframes mymove /* Opera */
{
0%   {top:0px;}
25%  {top:200px;}
50%  {top:100px;}
75%  {top:200px;}
100% {top:0px;}
}