@charset "utf-8";
/* CSS Document */

.header {
  background-color: #439AD1;
}
.header *{ color:#fff;}
.ptb-10{ padding:10px 0px;}
.ptb-15{ padding:15px 0px;}
.ptb-20{ padding:20px 0px;}

samp{font-family: inherit;}

.bgblack{background-color: #272727;}

.mainer{border: 0px;}
.mainer .silder-a{width: 800px;}
.mainer .silder-b{width: 200px;}

.yisheng-box{line-height: 35px;border: 1px solid #eeeeee; padding-top: 10px;height: 339px;}
.yisheng-box img{border-radius: 69px; }

.mainer .item{margin-top: 30px;border: 1px solid #eee;padding-top: 10px;padding-bottom: 10px;}
.mainer .content{width: 798px;padding-bottom: 25px;border:1px solid #eeeeee; border-top: 0px;}
.mainer .content{display: inline-block;}
.mainer .content>div{display: none;}
.mainer .content>div:nth-child(1){display: block;}
.mainer .content .yisheng-box {
    float: left;
    margin: 15px 0px 0px 10px;

    padding: 37px;
    height: inherit;
}
.fa {
  color: rgb(67, 154, 209);
}
.carousel {
  position: relative;
  width: 100%;
  height: 450px;
}

.sliders {
  width: 100%;
  height: 100%;
  overflow: auto;
}


.mt10{margin-top: 10px;}

